.cardWrapper {
  top: 76px;
  left: 76px;
  position: absolute;
  width: 460px;
  -webkit-font-smoothing: antialiased;
}

/* .cardFace {
  position: absolute;
  width: 270px;
  height: 200px;
} */

#hotSpot {
  top: 82px;
  left: 82px;

  position: absolute;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  z-index: 500;
}
